<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <meta charset="utf-8">
    <title>社保信息管理</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">
    <link rel = "shortcut icon" href="${site.logo}">
    <link rel="stylesheet" th:href="@{/static/layui/css/layui.css}" media="all" />
    <link rel="stylesheet" th:href="@{/static/admin/css/list.css}" media="all" />
</head>
<body class="childrenBody">
<div >
    <fieldset >
        <legend>文件</legend>
        <div class="layui-upload">
            <button type="button" class="layui-btn layui-btn-normal" id="selectFile">选择文件</button>
            <button type="button" class="layui-btn" id="startUploadFile">开始上传</button>
            <button type="button" class="layui-btn" style="margin-left:100px;" onclick="click1()">备案一</button>
            <button type="button" class="layui-btn" onclick="click2()">备案二</button>
            <button type="button" class="layui-btn" onclick="click3()">备案三</button>
        </div>
        <div >
            <label >审核状态：</label>
            <text size="6" type="text" class=" form-control" style="width: 60px;color: #0b2e13"  value="正在审核"> 已通过  </text>
        </div>
    </fieldset>

</div>
<div >
    <div id="ifrPage1" style="margin: auto;">
       <iframe style="width: 99%;height: 800px; padding: 10px  "  name="ifrPage"  src="table"></iframe>
    </div>
</div>
<div id="page"></div>

<script>

    function click1() {
        document.getElementById('ifrPage1').innerHTML = "<iframe src='table'"+"style='width: 99%;height: 800px;padding: 10px'"+"></iframe>";
    };
    function click2() {

        document.getElementById('ifrPage1').innerHTML = "<iframe src='currentEmployees'"+"style='width: 99%;height: 800px;padding: 10px' "+"></iframe>";
    };
    function click3() {
        document.getElementById('ifrPage1').innerHTML = "<iframe src='resignedEmployees'"+"style='width: 99%;height: 800px;padding: 10px'"+"></iframe>";
    };
</script>
<script type="text/javascript" th:src="@{/static/layui/layui.all.js}"></script>
<script type="text/javascript" th:src="@{/static/admin/js/business/busi.js}"></script>
</body>
</html>