<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <meta charset="utf-8">
    <title>社保信息管理</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">
    <link rel = "shortcut icon" href="${site.logo}">
    <link rel="stylesheet" th:href="@{/static/layui/css/layui.css}" media="all" />
    <link rel="stylesheet" th:href="@{/static/admin/css/list.css}" media="all" />
    <style>
        .layui-table-cell {
            height: auto;
            white-space: normal;
            word-wrap: break-word;
            word-break: break-all;
        }
    </style>

</head>
<script type="text/javascript" th:src="@{/static/layui/layui.js}"></script>
<script type="text/javascript" th:src="@{/static/admin/js/tools.js}"></script>
<body>
<div>
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">姓名</label>
            <div class="layui-input-inline">
                <input name="phone"  class="layui-input">
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">工号</label>
            <div class="layui-input-inline">
                <input type="text"  class="layui-input">
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">身份证</label>
            <div class="layui-input-inline">
                <input type="text"  class="layui-input">
            </div>
        </div>
        <div class="layui-inline">
            <button class="layui-btn " data-type="reload">搜索</button>
        </div>
    </div>
</div>
<table class="layui-hide" id="sheet2" lay-filter="test"></table>

</body>




<script>
    layui.use('table', function(){
        var table = layui.table;
        table.render({
            elem: '#sheet2'
            ,url:'/admin/system/business/recordTable3Data'
            ,toolbar: '#toolbarDemo'
            ,defaultToolbar: ['filter', 'exports', 'print', {
                title: '提示'
                ,layEvent: 'LAYTABLE_TIPS'
                ,icon: 'layui-icon-tips'
            }]
            ,title: '用户数据表'
            ,cols: [
                [
                    {field:'sequence', title:'工 号', width:100}
                    ,{field:'name', title:'姓  名', width:100,}
                    ,{field:'sex', title:'性 别', width:100}
                    ,{field:'idCard', title:'居民身份证号', width:200}
                    ,{field:'workingYears', title:'本单位工<br>作年限(年)', width:100}
                    ,{field:'categoryTerminationContract', title:'合同终止/解<br>除人员类别\n', width:120}
                    ,{field:'reasonForChange', title:'变更原因', width:120, sort: true}
                    ,{field:'laborContractStartDate', title:'劳动合同<br>开始时间', width:140,templet : "<div>{{layui.util.toDateString(d.ordertime, 'yyyy年MM月dd日 ')}}</div>"}
                    ,{field:'laborContractEndDate', title:'劳动合同<br>结束时间', width:140,templet : "<div>{{layui.util.toDateString(d.ordertime, 'yyyy年MM月dd日 ')}}</div>"}
                    ,{field:'relieveLaborContractEndDate', title:'劳动合同<br>解除时间', width:140,templet : "<div>{{layui.util.toDateString(d.ordertime, 'yyyy年MM月dd日 ')}}</div>"}
                    ,{field:'whetherPayCompensation', title:'是否应<br>支付补偿' , width:100}
                    ,{field:'compensationAmount', title:'赔偿金额', width:80}

                ]
            ]
            ,page: true
        });
        table.on('toolbar(test)', function(obj){
            var checkStatus = table.checkStatus(obj.config.id);
            switch(obj.event){
                case 'getCheckData':
                    var data = checkStatus.data;
                    layer.alert(JSON.stringify(data));
                    break;
                case 'getCheckLength':
                    var data = checkStatus.data;
                    layer.msg('选中了：'+ data.length + ' 个');
                    break;
                case 'isAll':
                    layer.msg(checkStatus.isAll ? '全选': '未全选');
                    break;

                //自定义头工具栏右侧图标 - 提示
                case 'LAYTABLE_TIPS':
                    layer.alert('这是工具栏右侧自定义的一个图标按钮');
                    break;
            };
        });
        table.on('tool(test)', function(obj){
            var data = obj.data;
            //console.log(obj)
            if(obj.event === 'del'){
                layer.confirm('真的删除行么', function(index){
                    obj.del();
                    layer.close(index);
                });
            } else if(obj.event === 'edit'){
                layer.prompt({
                    formType: 2
                    ,value: data.email
                }, function(value, index){
                    obj.update({
                        email: value
                    });
                    layer.close(index);
                });
            }
        });
    });
</script>


</html>