<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <meta charset="utf-8">
    <title>首页--lzhpo后台管理</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" th:href="@{/static/layui/css/layui.css}" media="all" />
    <link rel="stylesheet" href="//at.alicdn.com/t/font_tnyc012u2rlwstt9.css" media="all" />
    <link rel="stylesheet" th:href="@{/static/admin/css/main.css}" media="all" />
</head>
<body>

<div class="layui-card">
    <div class="layui-card-body">
        <ul class="layui-timeline">
            交城位于山西省中部，东邻太原，西枕吕梁，是吕梁的东大门，太原的近郊县，现辖6镇4乡，国土面积1822.11平方公里，总人口23.7万。

            交城历史悠久，文化灿烂。自隋开皇16年（公元596年）置县，因建于汾孔二河相交之处得名，至今已有1400多年的历史，孕育和汇集了10万年的旧石器文化、7000年的彩陶文化、5000年的灰陶文化、3000年的道教文化、2000年的冶炼文化、1500年的佛教文化，是联合国地名专家组和国家民政部联合命名的“千年古县”。

            交城区位优越，交通便利。交城毗邻省城，距太原仅50公里，是太原经济圈的内圈层，是山西承东启西桥梁作用的重要节点。境内大运高速、青银高速、太中银铁路、307国道纵横穿越，相连成网，30分钟可直达太原武宿机场、太原高铁站，交通十分便捷，具有优先接受大太原经济圈辐射的区位优势。

            交城资源富集，山川秀美。境内有煤、铁、石英砂、青石等矿产资源32种，煤炭总储量达33亿吨。森林面积150余万亩、牧坡草地100万亩，森林覆盖率54%，林木绿化率70%，是山西省第二大林业县。水资源储量充沛，年径流量近2亿方。拥有卦山、玄中寺两个国家4A级景区和国家级自然保护区庞泉沟、吕梁英雄广场、晋绥边区第八分区革命历史纪念馆等丰富旅游资源。

            交城底蕴深厚，人文荟萃。在漫长的历史进程中，春秋晋大夫狐突以“教忠不二，杀身成仁”的大节不夺之气而名垂青史，北宋时期交城大通铁冶监为全国四大铁监之一，是当时全国的冶铁中心。晚清时期以“四合源”为代表的交城皮商盛极一时，曾有“交皮甲天下”之美誉。革命战争时期，晋绥边区第八分区长期驻扎在交城山，数千名交城儿女为国捐躯，504人被追认为烈士，谱写了一曲感天动地、彪炳史册的英雄赞歌。

            交城产业多元，蓄势待发。近年来，交城县坚定不移推进创新驱动、转型升级，以焦化、铸造、建材、化工为主的传统产业正在加快改造步伐，新兴工业、现代农业和旅游业为主的服务业方兴未艾、蓬勃兴起。依托交城山丰富资源宝藏，“畜、果、蔬、菌、药、游”六大特色产业快速发展。以省级的交城经济开发区为平台，大数据、新材料、新能源、新型化工为主的“一大三新”新兴产业体系正在形成，发展新动能不断积蓄。依托县域基础优势，旅游、物流、电商、文化等现代服务业蓬勃发展，成功入选国家全域旅游示范区创建单位，山上山下遥相呼应、自然人文相映成辉、历史现代交汇融合的大旅游格局正在形成。
        </ul>
    </div>
</div>

<script type="text/javascript" th:src="@{/static/layui/layui.js}"></script>
<script type="text/javascript" th:src="@{/static/admin/js/main.js}"></script>
</body>
</html>