<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lzhpo.admin.mapper.BusiMapper">

  <resultMap id="showBusiMap" type="com.lzhpo.admin.entity.business.RecordTable2">
    <result property="Id"       column="id" />
    <result property="sequence"  column="sequence"/>
    <result property="name"    column="name"/>
    <result property="sex"    column="sex"/>
    <result property="idCard"     column="id_card"/>
    <result property="workingYears"     column="working_years"/>
    <result property="workType"    column="work_type"/>
    <result property="specialWorkType"     column="special_work_type"/>
    <result property="workStartDate"     column="work_start_date"/>
    <result property="workEndDate"     column="work_end_date"/>
    <result property="classificationRegisteredEmployees"    column="classification_registered_employees"/>
    <result property="migrantWorkerOrNot"     column="migrant_worker_or_not"/>
    <result property="disabilityOrNot"     column="disability_or_not"/>
  </resultMap>

  <select id="laborEmployment"  resultMap="showBusiMap"  parameterType="java.lang.String">
      SELECT * from busi_labor_employment
  </select>

  <delete id="removeOldData" parameterType="java.lang.String">
     DELETE  busi_summary,busi_resigned_employees,busi_labor_employment FROM busi_summary
     left join busi_resigned_employees on busi_summary.organization_code = busi_resigned_employees.organization_code
	 left join busi_labor_employment on busi_summary.organization_code = busi_labor_employment.organization_code
    where busi_summary.organization_code =  #{orgCode}
    </delete>
</mapper>