<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lzhpo.admin.mapper.BusiResignedEmpMapper">

  <resultMap id="queryResignEmpMap" type="com.lzhpo.admin.entity.business.RecordTable3">
    <result property="Id"       column="id" />
    <result property="sequence"  column="sequence"/>
    <result property="name"    column="name"/>
    <result property="sex"    column="sex"/>
    <result property="idCard"     column="id_card"/>
    <result property="workingYears"     column="working_years"/>
    <result property="categoryTerminationContract"    column="category_termination_contract"/>
    <result property="reasonForChange"     column="reason_for_change"/>
    <result property="laborContractStartDate"     column="labor_contract_start_date"/>
    <result property="laborContractEndDate"     column="labor_contract_end_date"/>
    <result property="relieveLaborContractEndDate"    column="relieve_labor_contract_end_date"/>
    <result property="whetherPayCompensation"     column="whether_pay_compensation"/>
    <result property="compensationAmount"     column="compensation_amount"/>
  </resultMap>

  <select id="queryResignEmp"  resultMap="queryResignEmpMap"  parameterType="java.lang.String">

        SELECT * from busi_resigned_employees WHERE busi_resigned_employees.organization_code =
      (SELECT u.organization_code FROM sys_user u WHERE u.
      id= #{sequence} )
  </select>


</mapper>